<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    block title
      title Grupo Maya -Inicio
    block description
      meta(name="description" content="Free Web tutorials")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="css/nivo-slider.css")
    link(rel="stylesheet", href="themes/bar/bar.css")
    link(rel="stylesheet", href="themes/dark/dark.css")
    link(rel="stylesheet", href="themes/default/default.css")
    link(rel="stylesheet", href="themes/light/light.css")
    #fb-root
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/jquery.nivo.slider.js")
    script(src="js/jquery.nivo.slider.pack.js")

    script(src="js/facebook.js")
    script(src="js/scripts.js")
  body
    header#home__header
      include ../includes/home__header
    block content
    footer#home__footer
     include ../includes/home__footer
     include ../includes/home__credits
    
    script(src="js/scripts.js")
    
    
