extends templates/home
  
block content
  section#inicio__slider-principal
    include includes/inicio__slider-principal
  header#inicio__bienvenidos
    include includes/inicio__bienvenidos
  section#inicio__contacto
    include includes/inicio__contacto
