extends templates/home
block title
  title Inicio
block menu-inicio
  li: a.activo(href="index.html") Inicio
block content
  section#inicio__slider-principal
    include includes/inicio__slider-principal
  header#inicio__bienvenidos
    include includes/inicio__bienvenidos
  section#inicio__contacto
    include includes/inicio__contacto
