<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/scripts.js")
    title Grupo Maya
  body.body
    
      .ed-container
        .ed-item
          .container
            .box-30.logo
              img(src="img/logogpomaya.png", alt="")
            .box-70.info
              h1 Página en Construcción.
              h2.h2sub Puedes comunicarte con nosotros en:
              ul 
                li <b>Móvil</b>: (0133) 1611-1320
                li <b>Celular:</b> 3312279341
                li <b>Nextel:</b> 62*1013726*4
              h2 Guadalajara
              ul
                li (0133) 3838-5151 / 3639-5151
              h2 Monterrey
              ul
                li (0181) 8243-3000
