extends templates/home
block title
  title Nosotros
block menu-nosotros
  li: a.activo(href="nosotros.html") Nosotros  
block content
  section#nosotros__acerca-de
    include includes/nosotros__acerca-de
  header#nosotros__mvv
    include includes/nosotros__mvv
