extends templates/home
block title
  title Control de Plagas
block menu-plagas
  li: a.activo(href="plagas.html") Control de Plagas  
block content
  section#plagas__banner
    include includes/plagas__banner
  header#plagas__rejilla
    include includes/plagas__rejilla
