extends templates/home
block title
  title Servcios
block menu-servicios
  li: a.activo(href="servicios.html") Servcios    
block content
  section#servicios
    include includes/servicios__banner
  header#nosotros__mvv
    include includes/servicios__lista
  section
    include includes/servicios__tecnicas
