.ed-container.contacto__form-direccion
  .ed-item.tablet-50
    h1 Forma
    form(action="")
      input(type="text" placeholder="text")
      input(type="text" placeholder="text")
      input(type="text" placeholder="text")
      textarea(placeholder="text")
  .ed-item.tablet-50
    h1 Dirección
    p  Lorem ipsum dolor sit amet, consectetur adipisicing.
    p Telefono <a href="phone: 818338228"> 12342141234</a>
