.ed-container.home__footer
  block footer-space1
    .ed-item.web-1-3
      .footer-box
        img(src="img/logogpomaya-w.png", alt="")
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellat quae at ipsum, dolorum, necessitatibus voluptatem modi maiores earum! Vero reprehenderit repellendus expedita quibusdam ad fuga similique, dolor deserunt ducimus.
  block footer-space2
    .ed-item.web-1-3
      .footer-box
        h1 Facebook
        <div class="fb-page" data-href="https://www.facebook.com/SanimackCocinasIndustriales/" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/SanimackCocinasIndustriales/"><a href="https://www.facebook.com/SanimackCocinasIndustriales/">Sanimack Cocinas Industriales</a></blockquote></div></div>
    .ed-item.web-1-3
      .footer-box
        h1 Contacto
        form.footer__form(action="#" method="post")
          ul
            li: input(type="text" name="nombre" placeholder="NOMBRE" required)
            li: input(type="text" name="correo" placeholder="MAIL" required)
            li: input(type="text" name="correo" placeholder="TELÉFONO" required)
            li: textarea(rows="6"  name="mensaje" placeholder="MENSAJE" required)
            li: input.btn-send(type="submit" value="Enviar" id="boton")
