.home__header
  .ed-container.topbar
    .ed-item.web-50
    .ed-item.web-25
      a(href="#") contacto@grupomaya.com
    .ed-item.web-15
      a(href="#") 01 81 8243-300
    .ed-item.web-10
      ul.topbar--social-icons
        li: a.icon-youtube(href="#")
        li: a.icon-facebook(href="#")
        li: a.icon-twitter(href="#")
        li: a.icon-google-plus(href="#")
  
  .ed-container.logo-menu
    .ed-item.web-40.logo-menu--logo
      img(src="img/logogpomaya.png", alt="")
    .ed-item.web-60.web-cross-center.web-main-end.logo-menu--menu
      ul
        block menu-inicio
          li: a(href="#") inicio
        block menu-nosotros
          li: a(href="nosotros.html") nosotros
        block menu-servicios 
          li: a(href="#") servicios
        block menu-contacto
          li: a(href="#") contacto
      
