.home__header
  .ed-container.topbar
    .ed-item.web-50
    .ed-item.web-25
      a(href="mailto:contacto@grupomayamexico.com") contacto@grupomayamexico.com
    .ed-item.web-15
      a(href="tel:01818243300") (0181) 8243-300
    .ed-item.web-10
      ul.topbar--social-icons
        li: a.icon-facebook(href="https://www.facebook.com/GrupoMayaMexico")
  .ed-container.logo-menu
    .ed-item.web-30.logo-menu--logo
      a(href="index.html")
        img(src="img/logogpomaya.png", alt="")
    .ed-item.web-70.logo-menu--menu
      ul
        block menu-inicio
          li: a(href="index.html") Inicio
        block menu-nosotros
          li: a(href="nosotros.html") Nosotros
        block menu-servicios 
          li: a(href="servicios.html") Servicios
        block menu-plagas
          li: a(href="plagas.html") Control de Plagas
        block menu-contacto
          li: a(href="contacto.html") Contacto
      
