.ed-container.inicio__bienvenidos
  .ed-item.web-1-3
    .inicio__bienvenidos--presentacion
      img(src="img/caja.png", alt="")
      h2 Bienvenidos
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iure ipsum ullam doloribus voluptatibus obcaecati, placeat iusto maxime minus maiores ipsam illum, libero accusantium, a consequatur, dolores repudiandae laudantium sint?
      a(href="#") Saber Más
  .ed-item.web-1-3
    .inicio__bienvenidos--nosotros
      img(src="img/caja.png", alt="")
      h2 Nosotros
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iure ipsum ullam doloribus voluptatibus obcaecati, placeat iusto maxime minus maiores ipsam illum, libero accusantium, a consequatur, dolores repudiandae laudantium sint?
      a(href="#") Saber Más
  .ed-item.web-1-3
    .inicio__bienvenidos--servicios
      img(src="img/caja.png", alt="")
      h2 Control de plagas
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iure ipsum ullam doloribus voluptatibus obcaecati, placeat iusto maxime minus maiores ipsam illum, libero accusantium, a consequatur, dolores repudiandae laudantium sint?
      a(href="#") Saber Más
