.ed-container.inicio__bienvenidos
  .ed-item.web-1-3
    .inicio__bienvenidos--presentacion
      img(src="img/caja.png", alt="")
      h2 Bienvenidos
      p  Nos dedicamos a proveer servicios de fumigación para eliminar plagas de insectos, roedores y termitas.
      a(href="#") Saber Más
  .ed-item.web-1-3
    .inicio__bienvenidos--nosotros
      img(src="img/caja.png", alt="")
      h2 Nosotros
      p  En Maya nos preocupamos por respetar los parámetros de seguridad o requerimientos que las autoridades solicitan. 
      a(href="#") Saber Más
  .ed-item.web-1-3
    .inicio__bienvenidos--servicios
      img(src="img/caja.png", alt="")
      h2 Control de plagas
      p  Tenga la confianza de que nuestro equipo especializado, siempre le proporcionará una solución eficaz.
      a(href="#") Saber Más
