.ed-container.inicio__slider-principal
  .ed-item.inicio--slider-box
    .slider-wrapper.theme-default
      #slider.nivoSlider
        img(src="img/fumigaciones-monterrey.png", alt="")
        img(src="img/fumigaciones-monterrey-areas-verdes.png", alt="")
        img(src="img/banner3.png", alt="")
