.ed-container.inicio__slider-principal
  .ed-item.inicio--slider-box
    .slider-wrapper.theme-default
      #slider.nivoSlider
        img(src="img/banner1.png", alt="")
        img(src="img/banner2.png", alt="")
        img(src="img/banner3.png", alt="")
