.ed-container.nosotros__acerca-de
  .ed-item
    h1 Acerca de
    p 
      | Grupo Maya Control de Plagas es una empresa privada que brinda servicios profesionales de Manejo Integrado de Plagas Urbanas.
    p 
      | Contamos con más de 26 años de experiencia en el control de plagas, lo que nos ha permitido obtener el mejor equipamiento del mercado, así como también lograr la más alta capacitación para nuestro personal.
    p 
      | El objetivo primordial de Grupo Maya Control de Plagas es satisfacer totalmente las necesidades de cada cliente. Esto lo logramos creando e implementando un programa de trabajo personalizado, mediante el cual logramos la solución adecuada para cada tipo de problema en particular.
