.ed-container.nosotros__mvv
  .ed-item.tablet-1-3
    h2 Misión
    p Brindar una experiencia diferente en el manejo integral y prevención de plagas con una inmejorable calidad, apoyando así la salud ambiental de nuestro entorno, buscando siempre ganar la confianza de nuestros clientes y proveedores a través del gran esfuerzo que nos caracteriza apoyados del mejor personal y capacitación que nos distingue y enorgullece.
  .ed-item.tablet-1-3
    h2 Visión
    p Consolidarnos como una empresa competitiva dentro del ramo del control de plagas a través de un servicio de excelencia, actuando siempre con compromiso y respetando los valores corporativos de nuestros clientes.
  .ed-item.tablet-1-3
    h2 Filosofía
    p Lo más importante para nuestros clientes es la solución a sus necesidades en control y prevención de plagas en forma viable y confiable a un costo razonable utilizando la mejor tecnología logrando clientes satisfechos siendo una empresa comprometida con la mejora continua.
