.ed-container.plagas__rejilla
  .ed-item.tablet-90
    .accordion
      // Comentario Coffee 
      .titulo
        h2 + Cucarachas
      .descripcion
        .descripcion-img
          img(src="img/plagas/cucarachas.png", alt="")
        .descripcion-parrafo
          p Son buenas trepadoras, siendo capaces de escalar superficies verticales de vidrio o azulejos. La infestación de cucarachas se puede establecer rápidamente una vez que han entrado en las instalaciones. 
          
          p Estos animales pueden portar varias enfermedades porque son comúnmente encontrados cerca de los depósitos de desperdicios o en la cocina donde haya comida presente. 
          
          p Produciendo las siguientes enfermedades: 
          
          p Lepra, peste bubónica, disentería,  diarrea infantil, infecciones urinarias e intestino, inflamación y formación de pus, gastroenteritis, fiebres entérica, tifoidea, son vectores de la hepatitis infecciosa. 

      
      .titulo
        h2 + Ratones
      .descripcion
        .descripcion-img        
          img(src="img/plagas/roedores.png", alt="")
        .descripcion-parrafo
          p Son mamíferos de sangre caliente utilizan su dentadura para roer y para masticar. Los roedores mastican cualquier cosa disponible y causan muchos daños en los alrededores .Tienden a ser prolíficos reproductores.
          
          p Los roedores son los animales que más enfermedades transmiten directa e indirectamente seres humanos y animales. Como: 
          
          ul
            li La Peste Bubónica y sus variantes. 
            li La Peste Septicémica puede resultar en hemorragia en la piel y en otros órganos. 
            li Portar el Hantavirus, un síndrome renal que causa taquicardia y taquipnea. Transmitido a través de la orina y las heces de las ratas. 

      
      .titulo
        h2 + Mosquitos
      .descripcion    
        .descripcion-img    
          img(src="img/plagas/mosquitos.png", alt="")
        .descripcion-parrafo
          p Apenas comienzan los primeros calores estos molestos insectos se hacen presentes en nuestra casa y no quieren abandonarla por nada de este mundo. Las plagas de mosquitos resultan particularmente molestas por las picaduras que provocan, pero el principal problema es que afectan claramente a la salud de las personas por ser vectores de graves enfermedades (dengue, malaria, fiebre amarilla, filariosis, virus del Nilo, etc.).
        
      .titulo
        h2 + Moscas
      .descripcion
        .descripcion-img
          img(src="img/plagas/moscas.png", alt="")
        .descripcion-parrafo
          p Las consecuencias de su presencia en el medio ambiente y en la sociedad humana son de importancia excepcional. Este insecto colecciona esos patógenos en sus patas y boca cuando se alimenta de heces, basura y otros materiales en descomposición.
          
          p La mosca de la casa es la mayor portadora de enfermedades. Está documentado que transmite más de 100 patógenos incluyendo: 
          
          ul
            li Tifus
            li Tuberculosis 
            li Cólera 
            li Malaria
          p Enfermedades contagiosas:
          
          ul
            li Salmonella, 
            li Ántrax 
            li Tuberculosis. 

        
      .titulo
        h2 + Hormigas
      .descripcion
        .descripcion-img
          img(src="img/plagas/hormigas.png", alt="")
        .descripcion-parrafo
          p Las hormigas son insectos de metamorfosis completa, extremadamente sociable y tienen una compleja estructura social donde cada hormiga tiene un propósito. Estas son animales omnívoros y por eso comen una mezcla de plantas y material animal.
          
          p El control de esta plaga pasa inicialmente por evitar que accedan al interior de la vivienda o local. Se debe cuidar la higiene: deberemos eliminar cualquier posible resto de comida que pudiera atraer las hormigas. 

          p Pueden transmitir diversas enfermedades al arrastrar microorganismos en sus patas y cuerpo al interior de las casas:
          
          ul
            li Contaminan alimentos y diversas superficies.
            li Transmiten bacterias que pueden causar desde diarreas infecciosas hasta infecciones urinarias
            
      .titulo
        h2 + Termitas
      .descripcion
        .descripcion-img
          img(src="img/plagas/termitas.png", alt="")
        .descripcion-parrafo
          p Son insectos sociales que viven en colonias que generalmente están ubicadas en el terreno o en la madera. La mayoría de ellas se alimentan de la celulosa de la madera o de los productos derivados de la madera, como el papel. 
          
          p Existen diferentes tipos de termitas Subterránea, De Madera Humeda y De Madera Seca Viven en colonias que pueden contar con más de 2 millones de individuos. 

          p Algunas señales de que la termita subterránea está presente:
          
          ul
            li Pequeños túneles de barro en los muros simulando un camino como de lodo (se trata de excremento y saliva).
            li Cuando nubes de insectos parecidos a hormigas con alas sobrevuelan las instalaciones.
            
      .titulo
        h2 + Alacranes
      .descripcion
        .descripcion-img
          img(src="img/plagas/alacranes.png", alt="")
        .descripcion-parrafo
          p Son animales de hábitos nocturnos. Es frecuente encontrarlos en lugares habitados por el hombre, en las viviendas y en ámbitos cercanos a ellas. 
          
          p   Es común encontrarlos en grietas de paredes, pisos, zócalos, huecos de revestimiento de maderas, desagües que conectan con cloacas, habitaciones y depósitos sin aireación, detrás de cuadros, bajo los muebles.

          p Envenenamiento denominado “alacranismo”; la gravedad de cada caso depende de la especie de alacrán, puede ser mortal en niños y ancianos.
      
      .titulo
        h2 + Araña
      .descripcion
        .descripcion-img
          img(src="img/plagas/arañas.png", alt="")
        .descripcion-parrafo
          p Son depredadoras, generalmente solitarias, de pequeños animales. Tienen glándulas venenosas en los quelíceros, con las que paralizan a sus presas. Las picaduras de arañas son lesiones que afectan inicialmente al tejido blando pero la evolución y respuesta orgánica de cada individuo es diferente. 
          
          p La mordedura de la araña casera puede ser mortal.
          
          p Desarrolla el “Loxoscelismo”, el cual puede ser cutáneo, cuando se daña la piel; y/o cutáneo-visceral, cuando compromete diversos órganos del cuerpo, especialmente los glóbulos rojos y riñones.
          
      .titulo
        h2 + Chinches
      .descripcion
        .descripcion-img
          img(src="img/plagas/chinches.png", alt="")
        .descripcion-parrafo
          p No son fácil de detectar aunque tienden a permanecer juntas. Las manchas de sangre sobre los colchones y en los muebles o bien asociar con un olor desagradable segregado por las chinches son también signos de una infestación . 
          p Las más comunes son las denominadas científicamente como Cime lectularius, las cuales son adaptables a los ambientes humanos.
          p Las chinches de la cama no portan o transmiten enfermedades pero su picadura produce irritación e incluso infección. También puede causar rasquiña y dejar bultos o pápulas rojas. 

      .titulo
        h2 + Pulgas y Garrapatas
      .descripcion
        .descripcion-img
          img(src="img/plagas/pulgas.png", alt="")
        .descripcion-parrafo
          p Las pulgas y garrapatas se alimentan de sangre que ingieren con su picadura, durante la cual inoculan una proteína de su saliva que actúa como anticoagulante, facilitando así su alimentación. Esta proteína es capaz de generar un proceso alérgico en la mayoría de los animales lo cual se conoce "dermatitis alérgica a la pulga". 
          p Las pulgas también pueden, ser transportadas por otros animales, sobre todo los de pelo largo. Entre los animales que pueden ser vectores de pulgas destacan: conejos, zorros, ratas, ratones y animales de granja como son los cerdos y gallinas.
          p Una pulga puede depositar hasta 200 huevos en el ambiente más visitado por el animal: su cama, alfombras, sofás, terraza, coche, etc. estos huevos se desarrollarán y en el plazo de unos días saldrán de ellos larvas que seguirán su desarrollo hasta transformarse en pulgas adultas, las cuales buscarán activamente un huésped de que alimentarse también.
          p Enfermedades que transmiten:
          ul
            li Tenia del perro
            li Micoplasmosis
            li Peste Bubonica
            li Tifus Murino 
 
