.ed-container.plagas__rejilla
  .ed-item
    h2 Cucarachas. 
    p Las cucarachas es uno de los insectos que menos nos gusta ver y, sin embargo, lo encontramos en cocinas y baños a menudo. Existe una falsa creencia de que las cucarachas solamente viven en casas sucias, simplemente la verdad es que las cucarachas viven en lugares de todos los grupos étnicos y con personas de todas las clases sociales. El no hacer los quehaceres domésticos bien hechos no quiere decir que una persona automáticamente va a tener una infestación; del mismo modo, la limpieza inmaculada no le evita de tener cucarachas.
  .ed-item
    h2 Ratones. 
    p Los roedores son una plaga situacional eso quiere decir que a través de los rondines y rutas especificas alrededor de su colonia o vecindario ellas seleccionan en que botes de basura buscar comida (omnívoras: comen de todo), en que jardines buscar agua, en que bodegas o sótanos de oficinas, buscar materiales (periódico, cartón, plástico, textiles entre otros) para construir su nido. Por lo tanto ellas son expertas en encontrar deficiencias estructurales y de limpieza, pudiendo entrar a un cielo falso por una ventana mal cerrada, robar el alimento y agua de su mascota y roer adornos de temporada o archivo muerto.
  .ed-item
    h2 Mosquitos. 
    p Apenas comienzan los primeros calores estos molestos insectos se hacen presentes en nuestra casa y no quieren abandonarla por nada de este mundo. Las plagas de mosquitos resultan particularmente molestas por las picaduras que provocan, pero el principal problema es que afectan claramente a la salud de las personas por ser vectores de graves enfermedades (dengue, malaria, fiebre amarilla, filariosis, virus del Nilo, etc.).
  .ed-item
    h2 Moscas. 
    p Estos patógenos pueden causar enfermedades en humanos y animales, tales como fiebre tifoidea, disentería bacilar, hepatitis, cólera, polio, tuberculosis, oftalmia y diarrea infantil. La higiene es básica para controlar esta plaga e identificar el tipo de mosca es esencial para el éxito en su control.
