.ed-container.servicios__lista
  .ed-container.servicios__lista--fila
    .ed-item.tablet-50
      img(src="img/servicios-fumigacion/fumigacion-centros-comerciales-monterrey.png")
      h2 Comerciales
      p Nos adecuamos a sus necesidades, acatando siempre normas máximas de seguridad, certificación e higiene.
    .ed-item.tablet-50
      img(src="img/servicios-fumigacion/fumigacion-industrias-monterrey.png")  
      h2 Industriales
      p Nuestro personal técnico está altamente capacitado para desempeñar su trabajo con calidad, presentando mayor atención a las áreas más afectadas por las plagas.
    //- .ed-item.tablet-1-3
    //-   img(src="img/servicios-fumigacion/fumigacion-hospitales-monterrey.png")
    //-   h2 Instituciones Médicas
    //-   p La mejor impresión que se pueden llevar sus pacientes es un lugar limpio y sano, sin duda tener un sitio así­ te dará seguridad, por lo que tu tranquilidad estará garantizada, te ofrecemos un beneficio único e incomparable.

    .ed-container.servicios__lista--fila
      .ed-item
        h2 Técnicas de Aplicación
        p Contamos con sistemas y métodos de aplicación, para cada servicio a brindar,  dependiendo de las zonas a tratar,  dificultad de acceso, características de las plagas, etc. Estas técnicas y tratamientos son útiles para reducir poblaciones de plagas y llegar a todos aquellos espacios donde una aplicación normalmente no llega. Además son realizados  por  técnicos altamente capacitados y certificados, brindándole una  fumigación  eficaz y de gran calidad.
    .ed-container.servicios__lista--fila
        
      .ed-item.tablet-1-3
        h2 Termonebulización
        p Es un proceso que utiliza energía termo-neumática (temperatura y aire a alta velocidad), creando una niebla visible debido a que las sustancias a aplicarse son inicialmente evaporadas y conducidas a través de un sistema de inyección.
        p Las partículas de plaguicidas que se producen en estas máquinas son menores a 30 Micras, bastante pequeñas, por esta razón fácilmente ingresan en los refugios de las plagas rastreras, por las grietas, ranuras o huecos, las nieblas flotan en el ambiente lo suficiente para matar a los mosquitos, zancudos y otros insectos voladores.
        
      .ed-item.tablet-1-3
        h2 Aspersión Líquida
        p Es un método eficaz para el control de plagas rastreras y voladoras, el cual se realiza en el perímetro rociando las orillas interior y exterior marco de puertas y ventanas, registros eléctricos, registros sanitarios coladeras siguiendo el perímetro del establecimiento especialmente en los lugares donde se anidan las plagas formando así un cordón sanitario y evitando el ingreso o propagación de las plagas no deseadas.
        
      .ed-item.tablet-1-3
        h2 Nebulización
        p Es un tratamiento correctivo que busca tener un efecto de choque inmediato contra las plagas rastreras y voladoras y ayuda a sacarlas de su refugio obligándolas a que circulen por superficies previamente tratadas con un insecticida residual.
