.ed-container.servicios__lista
  .ed-item
    h2 Residenciales
    p Realizamos nuestro servicio sin límite de tiempo ni de producto, para dar los mejores resultados que usted se merece y necesita, con una garantía siempre permanente.
  .ed-item
    h2 Comerciales
    p Nos adecuamos a sus necesidades, acatando siempre normas máximas de seguridad, certificación e higiene.
  .ed-item  
    h2 Industriales
    p Nuestro personal técnico está altamente capacitado para desempeñar su trabajo con calidad, presentando mayor atención a las áreas más afectadas por las plagas.
  .ed-item
    h2 Instituciones Médicas
    p La mejor impresión que se pueden llevar sus pacientes es un lugar limpio y sano, sin duda tener un sitio así­ te dará seguridad, por lo que tu tranquilidad estará garantizada, te ofrecemos un beneficio único e incomparable.
  .ed-item
    h2 Instituciones Educativas
    p Contamos con una amplia experiencia con resultados comprobados.
  .ed-item
    h2 Áreas verdes
    p Contamos con capacitación constante en todos los niveles por lo que estamos a la vanguardia en cuanto a nuevos métodos, productos y equipos para el control de maleza y plagas de jardín.
