.ed-container.servicios__lista
  .ed-container.servicios__lista--fila
    .ed-item.tablet-50
      img(src="img/servicios-fumigacion/fumigacion-centros-comerciales-monterrey.png")
      h2 Comerciales
      p Nos adecuamos a sus necesidades, acatando siempre normas máximas de seguridad, certificación e higiene.
    .ed-item.tablet-50
      img(src="img/servicios-fumigacion/fumigacion-industrias-monterrey.png")  
      h2 Industriales
      p Nuestro personal técnico está altamente capacitado para desempeñar su trabajo con calidad, presentando mayor atención a las áreas más afectadas por las plagas.
    //- .ed-item.tablet-1-3
    //-   img(src="img/servicios-fumigacion/fumigacion-hospitales-monterrey.png")
    //-   h2 Instituciones Médicas
    //-   p La mejor impresión que se pueden llevar sus pacientes es un lugar limpio y sano, sin duda tener un sitio así­ te dará seguridad, por lo que tu tranquilidad estará garantizada, te ofrecemos un beneficio único e incomparable.

  .ed-container.servicios__lista--fila
