//*************************//
//****** COMPARTIDOS ******//
//*************************//


//************ BANNERS ************//

.servicios__banner, .plagas__banner,.contacto__banner{
  background-color: #fff;
  background-image: url("http://placehold.it/1500x500");
  background-position: center;
  height: 500px;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  .ed-item{
    width: 50%;
    h1{
      text-align: center;
      }
    }
  }
.servicios__lista, .plagas__rejilla,.contacto__form-direccion{
  background: #fff;
  }


//****************//
//******HOME******//
//****************//

.home__header{
  margin-top:30px;
  }
.topbar{
  background-color: #303393;
  width:100%;
  padding: .3em 0 .3em;
  text-align: right;
  a{
    color:#fff;
    font-weight: bold;
    font-size: .9em;
    }
  &--social-icons{
    list-style-type: none;
    margin: 0;
    padding:0;
    text-align: right;
    li{
      display: inline-block;
      a{margin:0 .1em;}
      }
    }
  }
.logo-menu{
  background-color: #fff;
  color:#000;
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-end;
  align-items: center;
  &--logo{
    img{
      margin:1em 0;
      margin-left: 3em;
      width:50%;
      display: block;
      @include to(web){
        margin:1em auto;
        }
      }
    }
  &--menu{
    ul{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      list-style-type: none;
      padding:0;
      margin:0;
      @include to(web){
        flex-flow: column wrap;
        justify-content: center;
        }
      }
    li{
      padding:0 .8em;
      }
    a{
      text-transform: uppercase;
      font-weight: bold;
      font-family: $thrd-font;
      font-size: 1.3em;
      @include to(web){
        font-size: 1em;
        }
      color:lighten($main-col, 10%);
      &:hover{
        color:$sec-col;
          @include from(web){
            border-bottom: 3px solid $sec-col;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
.home__footer{
  background-color: darken($seccol, 45%);
  .ed-item{
    .footer-box{
      margin:1em;
      padding:1em;
      h1{
        margin:1em 0 2em;
        line-height: 0;
        color:$thrd-col;
        font-size: 1.6em;
        }
      img{
        margin-bottom: 2em;
        }
      p{
        margin-bottom: 2em;font-family:$main-font;font-size: .9em;color:$thrd-col;font-weight: bold;
        }
      .footer__form{
        ul{
          list-style-type: none;
          padding-left: 0;
          }
        li{
          input,textarea{
            width:100%;
            padding:.7em;
            font-size:.7em;
            }
          textarea{
            padding:.7em;
            font-size: 1em;
            }
          }
        }
      }
    }
  }
.home__credits{
  background-color: darken($seccol, 35%);
  margin-bottom: 20px;
  a{
    color:#fff;
    text-align: center;
    font-size: 1.5em;
    display: block;
    padding:.4em 0;
    font-weight: bold;
    }
  }
//*****************//
//******INDEX******//
//*****************//

.inicio__slider-principal{
  background-color: #fff;
  color:black;
  .inicio--slider-box{
    padding:0;
    img{
      display:block;
      overflow: hidden;
      }
    }
  }
.inicio__bienvenidos{
  background-color: #fff;
  &--presentacion, &--nosotros, &--servicios{
    margin: 2em 0em;
    padding:3em 1em 3em 1em;
    text-align: center;
    @include to(web){
      margin:0;
      }
    img{border-radius: 5%;}
    h2{
      margin:0;
      margin:1em 0 .3em;
      font-size: 1.8em;
      text-transform: uppercase;
      color:darken($thrd-col, 45%);
      }
    p{
      margin-bottom: 2em;
      font-family:$main-font;
      font-size:.9em;
      color:#303393;
      font-weight: bold;
      }
    a{
      text-transform: uppercase;
      font-weight:bold;
      color:darken($sec-col, 25%);
      }
    }
  &--presentacion{
    }
  &--nosotros{
    }
  &--servicios{
    }
  }
.inicio__contacto{
  background-color: #fff;
  padding:2em 0 6em;
  .ed-item{
    padding:0;
    width:100%;
    height: 200px;
    overflow: hidden;
    @include from(tablet){height: 300px;}
    @include from(web){height: 350px;}
    background-color: $thrd-col;
    }
  .maps iframe{
    pointer-events: none;
    }
  }
  //**********************//
  //****** NOSOTROS ******//
  //**********************//
.nosotros__acerca-de{
  background-color: red;
  p{
    color:#fff;
    }
  }
.nosotros__mvv{
  background-color: red;
  p{
    color:#fff;
    }
  }
  //***********************//
  //****** SERVICIOS ******//
  //***********************//
  .servicios__banner{
    background-image: url("http://placehold.it/1500x500");
    }
  .servicios__lista{
    }
  //********************//
  //****** PLAGAS ******//
  //********************//
  .plagas__banner{
    background-image: url("http://placehold.it/1500x500");
    }
  .plagas__rejilla{
    }

  //**********************//
  //****** CONTACTO ******//
  //**********************//
